*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
:root{
    scroll-behavior: smooth;
    --color-white: white;
    --color-white-little : #f9f9fb;
    --color-littlegray : #e2e2e2;
    --color-orangered : #f45c20;
    --color-blue : #0945bb;
    --color-gray : #898989;
    --color-darker : #212934;
    --color-black : black;
    --color-button: rgb(255, 245, 241);
    --color-buttonsome: rgb(234, 244, 255);
    --transition: all .4s;
}
 
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* first */
@font-face {
    font-family: suse;
    src: url(fonts/SUSE-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Light.ttf);
}
.first-text-box{
    width: 100%;
    height: 7vh;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 5px 50px;
    line-height: 1.1;
    font-family: roboto;
}
.first-text-box>p>a{
    color: var(--color-white);
    text-decoration: underline;
    font-weight: 800;
}
.first-text-box>p>a:hover{
    color: var(--color-littlegray);
}

/* header */

.navbar-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.container>nav>div>.list-ul>li>a{
    color: var(--color-blue);
}
.container>.navbar-icons>nav>img{
    cursor: pointer;
}
.nav-footer>div>svg{
    height: 28px;
    width: 28px;
}

.big-button-project>button{
    font-family: roboto;
    display: block;
    margin: auto;
    width: 90%;
    height: 60px;
    border: none;
    background-color: var(--color-button);
    color: var(--color-orangered);
    font-size: 16px;
    border-radius: 12px;
    font-weight: 500;
}

.big-button-project>button:hover{
    background-color: var(--color-orangered);
    color: var(--color-littlegray);
}

.nav-footer>div>button{
    display: none;
    width: 130px;
    height: 55px;
    background-color: var(--color-button);
    color: var(--color-orangered);
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 20px  30px;
    cursor: pointer;
}

.nav-footer>div>button:hover{
    background-color: var(--color-orangered);
    color: var(--color-littlegray);
}

.navbar-icons>nav>div>ul{
    display: none;
}
.nav-footer>div>svg{
    cursor: pointer;
}
.list-ul>li>ul>li{
    cursor: pointer;
}

.menu-sub{
    cursor: pointer;
}
@media (min-width: 640px) {
    .big-button-project>button{
        display: none;
    }
    .nav-footer>div>button{
        display: flex;

    }
    .nav-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .navbar-icons{
        padding-top: 40px;
    }
    .first-text-box>p{
        padding-top: 5px;
    }
}

.list-ul>.lis-lists>a:hover{
    color: var(--color-blue);
}
@media (min-width: 1035px) {
    .nav-footer>div>svg{
        display: none;
    }
    .navbar-icons>nav>div>ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .list-ul>.lis-lists>a{
        color: var(--color-darker);
        font-size: 14px;
        font-family: roboto;
        font-weight: 600;
    }
    .menu-sub>svg{
        width: 15px;
        height: 15px;
    }
    .menu-sub{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .menu-sub{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-icons>nav>img{
        height: 130px;
        width: 240px;
    }
    .list-ul>li{
        position: relative;
    }
    .menu-sub{
        padding-bottom: 5px;
    }
    .menu-sub{
        padding-bottom: 5px;
    }
    .submenu{
        display: none;
        position: absolute;
        top: 20px;
        width: 150px;
        height: 80px;
        background-color: var(--color-white-little);
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
    }
    .submenu>li{
        height: 40px;
    }
    .submenu>li:hover{
        background-color: rgb(200, 200, 255);
        color: var(--color-blue);
    }
    .list-ul>li:hover .submenu{
        display: block;
    }
}

@media (min-width: 1200px){
    .navbar-icons>nav>div>ul{
        gap: 50px;
    }
}
@media (min-width: 1400px){
    .navbar-icons{
        padding-left: 100px;
        padding-right: 100px;
    }
}



/* section-first */

.text-part2>div>p{
    font-family: roboto;
    text-align: start;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
.text-part2>div>p>span{
    font-size: 50px;
}
.text-part2>div>h2{
    font-family: suse;
    padding-left: 30px;
    font-size: 59px;
    line-height: .9;
    font-weight: 600;
}
.text-part2>div>.text-for-parent>.Euismod-ipsum{
    display: inline-block;
    font-family: roboto;
    padding-left: 30px;
    font-size: 20px;
    width: 50%;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 20px;
}
.text-part2>div>.text-for-parent>.Euismod-ipsum>span{
    text-decoration: underline;
    font-size: 20px;
}
.text-for-parent{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.text-part2>div>.text-for-parent>a{
    border: none;
    background-color: var(--color-buttonsome);
    border-radius: 10px;
    padding: 20px 20px;
    font-family: roboto;
    font-size: 15px;
    font-weight: 600;
    text-align: start;
    color: var(--color-blue);
}
.text-part2>div>.text-for-parent>a:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.text-part2>div>.text-for-parent>a>span{
    width: 50%;
}

.text-part2>div>img{
    margin: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.text-part2>div>img:hover{
    opacity: .8;
}
.video-player{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.video-player>a{
    font-family: roboto;
    font-size: 20px;
    color: var(--color-blue);
}
.part-2-text-images>div>img{
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.text-seprated>p{
    font-family: roboto;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 90px;
    width: 85%;
    display: block;
    margin: auto;
}
.first-part-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
#show-link:hover{
    color: var(--color-orangered);
}

.first-part-image>img{
    width: 60px;
    height: 40px;
    margin: 50px;
    cursor: pointer;
}
.first-part-image>img:hover{
    opacity: .6;
}
.images-graphic2{
    display: none;
}
@media (min-width: 640px){
    .text-part2{
        flex-direction: row-reverse;
    }
    .part-2-text-images{
        display: flex;
        gap: 20px;
    }
    .part-2-text-images>div>img{
        height: 60%;
        width: 80%;
    }
    .text-seprated>p{
        padding-top: 5px;
    }
}
@media (min-width: 1035px){
    .images-graphic2{
        display: block;
    }
    .part-2-text-images>div>img{
        width: 80%;
        height: 65%;
    }
    .part-2-text-images>.images-graphic2>img{
        width: 75%;
        height: 40%;
        margin-top: 82px;
    }
    .part-2-text-images>.images-graphic2>div>img{
        margin-left: 30px;
        margin-top: 30px;
    }
    .first-part-image>img{
        width: 80px;
        height: 70px;
    }
}
@media (min-width: 1200px){
    .part-2-text-images>div>img{
        width: 75%;
        height: 80%;
    }
    .part-2-text-images>.images-graphic2>img{
        width: 75%;
        height: 50%;
        margin-top: 82px;
    }
    .part-2-text-images>.images-graphic2>div>img{
        margin-left: 30px;
        margin-top: 30px;
    }
    .text-seprated>p{
        padding-top: 50px;
    }
}


/* section2 */
.part3-img-div>div>img{
    width: 100%;
    height: 80vh;
    margin-top: 40px;
    object-fit: cover;
}
.part3-img-div{
    position: relative;
}
.seperated-div{
    position: absolute;
    background-color: var(--color-white);
    top: 150px;
    left: 40px;
    width: 400px;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
}
.part3-img-div>.seperated-div>#WeareAvadaDigitalAgency{
    color: var(--color-blue);
    font-size: 20px;
    padding-left: 30px;
    padding-top: 50px;
    font-family: roboto;
}
.seperated-div>h2{
    font-size: 35px;
    font-weight: 700;
    width: 95%;
    padding-left: 30px;
    font-family: roboto;
    padding-top: 30px;
}
.seperated-div>p{
    padding-left: 30px;
    font-weight: 500;
    line-height: 1.5;
    width: 95%;
    font-family: roboto;
    padding-top: 30px
}
.seperated-div>button{
    margin-left: 30px;
    margin-top: 40px;
    font-family: roboto;
    width: 150px;
    height: 50px;
    background-color: var(--color-button);
    border-radius: 10px;
    border: none;
    color: var(--color-orangered);
    font-size: 13px;
    font-weight: 600;
}

.seperated-div>button:hover{
    background-color: var(--color-orangered);
    color: var(--color-white);
}

@media (min-width: 700px){
    .seperated-div{
        width: 45%;
    }
    .part3-img-div>.seperated-div>#WeareAvadaDigitalAgency{
        padding-left: 40px;
    }
    .seperated-div>h2{
        padding-left: 40px;
    }
    .seperated-div>p{
        padding-left: 40px;
    }
    .seperated-div>button{
        margin-left: 40px;
    }
}
@media (min-width: 1035px){
    .part3-img-div>.seperated-div>#WeareAvadaDigitalAgency{
        padding-left: 80px;
    }
    .seperated-div>h2{
        width: 90%;
        padding-left: 80px;
    }
    .seperated-div>p{
        padding-left: 80px;
        width: 90%;
    }
    .seperated-div>button{
        margin-left: 80px;
    }
}

@media (min-width: 1300px){
    .seperated-div{
        width: 35%;
        left: 100px;
        height: 70vh;
    }
    .part3-img-div>.seperated-div>#WeareAvadaDigitalAgency{
        padding-left: 100px;
    }
    .seperated-div>h2{
        width: 90%;
        padding-left: 100px;
    }
    .seperated-div>p{
        padding-left: 100px;
        width: 90%;
    }
    .seperated-div>button{
        margin-left: 100px;
    }
}


/* part4-4icon-image */

.part4-4icon-image{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.part4-4icon-image>div>h2{
    font-family: suse;
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}

.part4-4icon-image>div>p{
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 250px;
    margin-top: 30px;
    line-height: 1.8;
}

.part4-4icon-image>div>img{
    width: 125px;
    height: 125px;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 80px;
}






/* part5-contactus-info */
.part5-contactus-info{
    margin-top: 80px;
}
.part5-contactus-info>.name-just-for-padding{
    padding: 55px;
}

.part5-contactus-info>div>pre{
    font-family: roboto;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 500;
}

.part5-contactus-info>div>h2{
    font-family: suse;
    font-size: 40px;
    margin-top: 50px;
    line-height: 1.1;
}


.part5-contactus-info>div>p{
    font-family: roboto;
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}


.part5-contactus-info>div>a{
    font-family: roboto;
    padding: 21px 20px;
    background-color: var(--color-orangered);
    color: var(--color-white);
    border-radius: 15px; 
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 240px;
    text-align: center;
    margin-top: 50px;
}
.part5-contactus-info>div>a:hover{
    background-color: var(--color-button);
    color: var(--color-orangered);
}


.part5-contactus-info>div{
    padding-left: 40px;
}
.part5-contactus-info>div>img{
    width: 100%;
}

@media (min-width: 640px) {
    .name-just-for-padding>pre,
    .name-just-for-padding>h2,
    .name-just-for-padding>p{
        text-align: center;
    }
    .name-just-for-padding>a{
        display: block;
        margin: auto;
    }
    .part5-contactus-info>div>img{
        padding: 20px;
        margin-left: 15px;
    }
}
@media (min-width: 1040px) {
    .part5-contactus-info{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .name-just-for-padding{
        padding: none;
    }
    .name-just-for-padding>pre{
        text-align: left;
        position: relative;
        top: 70px;
        left: -90px;
    }
    .name-just-for-padding>p{
        text-align: left;
        position: relative;
        top: 10px;
        left: -90px;
    }
    .name-just-for-padding>h2{
        text-align: left;
        text-align: left;
        position: relative;
        top: 30px;
        left: -90px;
        font-weight: 500;
    }
    .part5-contactus-info>.name-just-for-padding>a{
        position: relative;
        top: -20px;
        left: -125px;
        padding: 15px 10px;
    }
}
@media (min-width: 1200px){
    .part5-contactus-info>.name-just-for-padding>a{
        position: relative;
        top: -20px;
        left: -130px;
        padding: 15px 10px;
    }
}
@media (min-width: 1300px) {
    .part5-contactus-info>.name-just-for-padding>a{
        position: relative;
        top: -20px;
        left: -165px;
        padding: 15px 10px;
    }
}




/* part6 */

.bg-blue-big{
    background-color: var(--color-blue);
    width: 100%;
    height: auto;
    position: relative;
    top: -5px;
    padding: 40px;
}

.bg-blue-big>div>div>h2{
    font-family: suse;
    width: 50%;
    font-size: 42px;
    color: var(--color-white);
    line-height: .9;
    margin-top: 50px;
}

.bg-blue-big>div>p{
    font-family: roboto;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 50px;
}

.bg-blue-big>div>button{
    padding: 18px 45px;
    color: var(--color-orangered);
    background-color: var(--color-white);
    border: none;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 520;
    border-radius: 15px;
    cursor: pointer;
}
.bg-blue-big>div>button:hover{
    color: var(--color-white);
    background-color: var(--color-orangered);
}

.bg-blue-big>div>div>button{
    padding: 18px 45px;
    color: var(--color-orangered);
    background-color: var(--color-white);
    border: none;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 520;
    border-radius: 15px;
    cursor: pointer;
    display: none;
}
.bg-blue-big>div>div>button:hover{
    color: var(--color-white);
    background-color: var(--color-orangered);
}



.Avada-Interior-Prebuilt-Website{
    background-color: var(--color-white-little);
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.Avada-Interior-Prebuilt-Website>img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.Avada-Interior-Prebuilt-Website>p{
    font-family: roboto;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.Avada-Interior-Prebuilt-Website>a{
    font-family: roboto;
    display: block;
    text-align: center;
    margin: 20px;
    color: var(--color-blue);
}



.Avada-Fitness-Prebuilt-Website{
    background-color: var(--color-white-little);
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.Avada-Fitness-Prebuilt-Website>img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.Avada-Fitness-Prebuilt-Website>p{
    font-family: roboto;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.Avada-Fitness-Prebuilt-Website>a{
    font-family: roboto;
    display: block;
    text-align: center;
    margin: 20px;
    color: var(--color-blue);
}


.div-for-flex>div{
    cursor: pointer;
}


.Avada-Crypto-Prebuilt-Website{
    background-color: var(--color-white-little);
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.Avada-Crypto-Prebuilt-Website>img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.Avada-Crypto-Prebuilt-Website>p{
    font-family: roboto;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.Avada-Crypto-Prebuilt-Website>a{
    font-family: roboto;
    display: block;
    text-align: center;
    margin: 20px;
    color: var(--color-blue);
}

.text-part6>.h2-button-flex>p{
    display: none;
}

@media (min-width: 640px) {
    .bg-blue-big>.text-part6>div>button{
        display: block;
    }
    .bg-blue-big>.text-part6>button{
        display: none;
    }
    .h2-button-flex{
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }
    .text-part6>.h2-button-flex>h2{
        font-size: 70px;
    }
    .div-for-flex{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .Avada-Crypto-Prebuilt-Website{
        display: none;
    }
}
@media (min-width: 1035px){
    .text-part6>p{
        display: none;
    }
    .text-part6>.h2-button-flex>p{
        display: block;
        color: var(--color-white);
        width: 40%;
        font-size: 20px;
        text-align: justify;
    }
    .h2-button-flex{
        display: flex;
        gap: 40px;
    }
    .text-part6>.h2-button-flex>h2{
        font-size: 80px;
    }
    .Avada-Crypto-Prebuilt-Website{
        display: block;
    }
    .bg-blue-big{
        position: relative;
        top: -80px;
        padding: 90px;
    }
}





/* section7-text-part7 */
.text-paet7{
    padding-left: 50px;
    margin-top: 60px;
}

.icon2-text-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.icon2-text-flex>pre{
    font-family: roboto;
    font-size: 20px;
    font-weight: 600;
}
.text-paet7>h2{
    font-family: suse;
    font-size: 60px;
    line-height: .9;
    padding-right: 50px;
    font-weight: 600;
    margin-top: 30px;
}

.text-paet7>p{
    margin-top: 20px;
    font-family: roboto;
    font-size: 20px;
    padding-right: 30px;
    font-weight: 500;
}
.text-paet7>button{
    font-family: roboto;
    padding: 16px 45px;
    border: none;
    background-color: var(--color-button);
    color: var(--color-orangered);
    border-radius: 14px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}
.text-paet7>button:hover{
    background-color: var(--color-orangered);
    color: var(--color-white);
}

.images-graphics2>div{
    display: none;
}
.images-graphics2{
    padding: 30px;
}
.images-graphics2>img{
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 640px) {
    .text-images-graphics2-for-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1040px){
    .images-graphics2>div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .images-graphics2{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .images-graphics2>img{
        width: 60%;
        height: 120%;
    }
    .images-graphics2>div>img{
       height: 200;
       width: 180px;
       border-radius: 10px;
    }
    #graphics2{
        width: 180px;
        height: 130px;
        position: relative;
        left: -25px;
    }
    .text-paet7>h2{
        font-size: 80px;
    }
}
@media (min-width: 1200px){
    .text-paet7{
        padding-left: 100px;
        padding-right: 80px;
    }
}









/* section part8 */
.first-div-part8{
    padding-bottom: 30px;
    width: 90%;
    background-color: var(--color-white-little);
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--color-littlegray);
}
.first-div-part8>img{
    width: 100%;
    padding: 20px;
}
.first-div-part8>small{
   margin-top: 20px;
}
.first-div-part8>small>a{
   font-family: roboto;
   color: black;
   font-size: 14px;
   margin-left: 40px;
   transition: var(--transition);
}
.first-div-part8>small>a:hover{
    color: var(--color-blue);
}
.first-div-part8>h2{
    margin: 20px 30px;
    padding: 10px;
}
.first-div-part8>h2>a{
    font-family: roboto;
    color: black;
    font-size: 25px;
    padding-right: 50px;
    transition: var(--transition);
}
.first-div-part8>h2>a:hover{
    color: var(--color-blue);
}
.first-div-part8>p{
    font-family: roboto;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 50px;
}
.first-div-part8>a{
    font-family: roboto;
    color: var(--color-blue);
    font-size: 14px;
    font-weight: 600;
    margin-left: 35px;
    padding-bottom: 30px;
}
.first-div-part8>a:hover{
    color: var(--color-orangered);
}





.second-div-part8{
    padding-bottom: 30px;
    width: 90%;
    background-color: var(--color-white-little);
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--color-littlegray);
}
.second-div-part8>img{
    width: 100%;
    padding: 20px;
}
.second-div-part8>small{
    margin-top: 20px;
}
.second-div-part8>small>a{
    font-family: roboto;
    color: black;
    font-size: 14px;
    margin-left: 40px;
    transition: var(--transition);
}
.second-div-part8>small>a:hover{
    color: var(--color-blue);
}

.second-div-part8>h2{
    margin: 20px 30px;
    padding: 10px;
}
.second-div-part8>h2>a{
    font-family: roboto;
    color: black;
    font-size: 25px;
    padding-right: 50px;
    transition: var(--transition);
}
.second-div-part8>h2>a:hover{
    color: var(--color-blue);
}
.second-div-part8>p{
    font-family: roboto;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 50px;
}
.second-div-part8>a{
    font-family: roboto;
    color: var(--color-blue);
    font-size: 14px;
    font-weight: 600;
    margin-left: 35px;
    padding-bottom: 30px;
}
.second-div-part8>a:hover{
    color: var(--color-orangered);
}



.third-div-part8{
    padding-bottom: 30px;
    width: 90%;
    background-color: var(--color-white-little);
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--color-littlegray);
}
.third-div-part8>img{
    width: 100%;
    padding: 20px;
}
.third-div-part8>small{
    margin-top: 20px;
}
.third-div-part8>small>a{
    font-family: roboto;
    color: black;
    font-size: 14px;
    margin-left: 40px;
    transition: var(--transition);
}
.third-div-part8>small>a:hover{
    color: var(--color-blue);
}
.third-div-part8>h2{
    margin: 20px 30px;
    padding: 10px;
}
.third-div-part8>h2>a{
    font-family: roboto;
    color: black;
    font-size: 25px;
    padding-right: 50px;
    transition: var(--transition);
}
.third-div-part8>h2>a:hover{
    color: var(--color-blue);
}
.third-div-part8>p{
    font-family: roboto;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 50px;}
.third-div-part8>a{
    font-family: roboto;
    color: var(--color-blue);
    font-size: 14px;
    font-weight: 600;
    margin-left: 35px;
    padding-bottom: 30px;
}
.third-div-part8>a:hover{
    color: var(--color-blue);
}

@media (min-width: 640px) {
    .third-div-part8{
        display: none;
    }
    .part8-div-flex{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 20px;
    }
}
@media (min-width: 1035px){
    .third-div-part8{
        display: block;
    }
    .part8-div-flex{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 20px;
    }
}
@media (min-width: 1200px){
    .third-div-part8{
        display: block;
    }
    .part8-div-flex{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 90px;
    }
}













/* part9-form */
.form-subscribe{
    width: 100%;
    height: auto;
    background-color: var(--color-black);
    margin-top: 90px;
}
.form-subscribe>div{
    padding: 70px 50px;
}
.form-subscribe>div>h2{
    font-family: suse;
    color: var(--color-white);
    font-size: 40px;
    line-height: .8;
    margin-top: 50px;
}
.form-subscribe>div>p{
    font-family: roboto;
    font-size: 18px;
    margin-top: 20px;
    color: var(--color-white);
}
.form-subscribe>div>div>input{
    border-radius: 10px;
    border: 2px solid var(--color-orangered);
    display: block;
    width: 380px;
    height: 70px;
    margin-top: 50px;
    padding-left: 20px;
}
.form-subscribe>div>div>input::placeholder{
    font-family: roboto;
    color: var(--color-gray);
    font-size: 16px;
}
.form-subscribe>div>div>button{
    font-family: roboto;
    background-color: var(--color-orangered);
    color: var(--color-white);
    border: none;
    padding: 25px 152px;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.form-subscribe>div>div>button:hover{
    background-color: var(--color-button);
    color: var(--color-orangered);
}
.form-subscribe>div>small{
    font-family: roboto;
    color: var(--color-white);
    margin-top: 30px;
    font-size: 16px;
    width: 90%;
    display: block;
}
.form-subscribe>div>small>a{
    color: var(--color-blue);
    text-decoration: underline;
    font-size: 14px;
}
.form-subscribe>div>small>a:hover{
    color: var(--color-white);
}

.form-subscribe>div>img{
    width: 100%;
    position: relative;
    top: -80px;
}

@media (min-width: 640px) {
    .form-subscribe>div{
        padding-left: 100px;
    }
    .input-subscribe{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .form-subscribe>div>div>button{
        padding: 10px 40px;
    }
}
@media (min-width: 1040px){
    .form-subscribe{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .form-subscribe>div>img{
        width: 300px;
        margin-top: 150px;
    }
}
@media (min-width: 1200px){
    .form-subscribe>div>img{
        width: 500px;
        padding-top: 85px;
    }
    .form-subscribe{
        height: 90vh;
    }
}










/* footer */

.footer-end{
    background-color: var(--color-blue);
    padding: 20px;
    width: 90%;
    display: block;
    margin-top: 90px;
    margin: 90px auto 0;
}
.footer-end-div>div>div>img{
    display: block;
    margin: 60px auto 0;
    width: 90%;
}
.footer-end-div>div>div>button{
    font-family: roboto;
    border: none;
    background-color: var(--color-orangered);
    color: var(--color-white);
    padding: 18px 30px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    display: none;
}
.footer-end-div>div>div>button:hover{
    color: var(--color-orangered);
    background-color: var(--color-button);
}
.footer-end-div>div>h2{
    font-family: suse;
    font-size: 26px;
    margin-top: 80px;
    text-align: center;
    color: var(--color-white);
}
.footer-end-div>div>p{
    font-family: roboto;
    font-size: 20px;
    color: var(--color-white);
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}
.footer-end-div>div>button{
    font-family: roboto;
    border: none;
    background-color: var(--color-button);
    color: var(--color-orangered);
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
}
.footer-end-div>div>button:hover{
    color: var(--color-white);
    background-color: var(--color-orangered);
}
footer>div>p{
    margin-top: 80px;
    padding: 30px 40px;
    text-align: center;
    color: var(--color-white);
}
footer>div>p>span{
    color: rgb(176, 176, 176);
    cursor: pointer;
}
footer>div>p>span:hover{
    color: var(--color-white);
}

@media (min-width: 640px){
    .footer-end>.footer-end-div>.btn-images>div>button{
        display: block;
    }
    .btn-images{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .footer-end-div>div>button{
        display: none;
    }
}
@media (min-width: 1040px){
    .footer-end-div{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding: 30px 50px;
    }
    .footer-end>.footer-end-div>.btn-images>div>button{
        display: none;
    }
    .footer-end-div>div>button{
        display: block;
    }
    .footer-end{
        padding: 10px;
        width: 95%;
    }
    .footer-end-div>div>p{
        text-align: left;
        width: 500px;
    }
    .footer-end-div>.btn-images>div>img{
        width: 120%;
    }
    .footer-end>.footer-end-div>div>.button{
        width: 400px;
        height: 200px;
        font-size: 15px;
    }
}




/* svg-fix */
.svg-fix>a>svg{
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 53px;
    height: 37px;
    border-radius: 5px 5px 0 0;
    padding: 7px;
    background-color: rgb(67, 65, 65);
    color: var(--color-white);
}
.svg-fix>a>svg:hover{
    background-color: var(--color-blue);
}



/* fix-img */
.fix-images-not-svg>.prebuilt>img{
    width: 65px;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 160px;
    box-sizing: 3px 3px 15px var(--color-black);
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.fix-images-not-svg>.buynow>img{
    width: 65px;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 230px;
    box-sizing: 3px 3px 15px var(--color-black);
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
@media (min-width: 640px) {
    .fix-images-not-svg>.prebuilt>img{
        display: block;
    }
    .fix-images-not-svg>.buynow>img{
        display: block;
    }
}



::-webkit-scrollbar{
    width: 10px;
    background-color: var(--color-littlegray);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-orangered);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-blue);
}